#section1 {
    height: 88.3vh;
    background-color: rgba(11, 48, 88, 0.919);
    overflow: hidden;
}

.side-nav {
    width: 110px;
    margin-top: 72px;
    height: 89%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: width 0.5s;
    border-radius: 25px;
}

.nav-item {
    display: flex; /* Use flexbox to make them side by side */
    align-items: center; /* Vertically align the items */
}

.nav-item img {
    width: 30px;
    margin-right: 10px; /* Adjust margin-right for spacing */
}

.nav-item p {
    white-space: nowrap;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0 15px;
}

ul li {
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: rgb(242, 85, 18) !important;
}

ul li img {
    width: 30px;
    margin-right: 0px;
}

ul li p {
    white-space: nowrap;
    display: none;
}

.side-nav:hover {
    width: 250px;
}

.side-nav:hover ul li p {
    display: block;
}

.side-nav:hover ul li img {
    margin-right: 10px;
}

.side-nav:hover ul li{
    justify-self: flex-start;
}

.col{
    margin-left: 25vh;
}